<div class="sidebar-menu">
    <div class="nav-brand">
        Biblioteca
    </div>
    <nav class="nav-menu">
        <div class="nav-items">
            <NavLink class="nav-item" href="libros" Match="NavLinkMatch.All">
                Libros
            </NavLink>
            <NavLink class="nav-item" href="autores">
                Autores
            </NavLink>
            <NavLink class="nav-item" href="usuarios">
                Usuarios
            </NavLink>
            <NavLink class="nav-item" href="quienes-somos">
                Quiénes Somos
            </NavLink>
        </div>
    </nav>
</div> 